<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='cadastrarProfessor.css')}}"/>
</head>
<body>
    <form method="POST">
  <input type="email" name="email" placeholder="Digite seu e-mail">
  <input type="password" name="senha" placeholder="Digite sua senha">
  <input type="text" name="materia" placeholder="Informe a matéria">
  <button type="submit">Cadastrar</button>
  <a href="{{ url_for('logarProfessor') }}">Entrar</a>
  {% if erro %}
    <p style="color: red;">{{ erro }}</p>
  {% endif %}
    </form>
</body>
</html>